.attribute > span.clickable {
  visibility: hidden;
  display: inline;
}
.attribute:hover > span.clickable {
  visibility: visible;
  background-color: yellow;
  cursor: pointer;
}
.description.attribute > p {
  display: inline;
}